/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
#scrollable-container::-webkit-scrollbar {
    display: none; /* Hide scrollbar */
  }
  
  /* Hide scrollbar for IE and Edge */
  #scrollable-container {
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  /* Hide scrollbar for Firefox */
  #scrollable-container {
    scrollbar-width: none; /* Firefox */
  }

.fontSize-filter{
   font-size: 0.875rem;
}

.faq-border {
  border: 1px solid #0891b2;
  border-left: 5px solid #0891b2;
}

  @media (min-width: 639px) {
    #assessment-right-9-col {
        margin-left: 0;  
    }
}

#qsn-text-main-id{
  width: 100%;
}

@media (min-width: 639px) {
  #qsn-text-main-id{
    width: 80%;
  }
}


 
.howitworks {
  height: 100%;
  overflow-y: scroll;  
  scrollbar-width: none;  
}

.howitworks::-webkit-scrollbar {
  display: none; 
}
